<section class="main" *ngIf="todos.length !== 0">
  <ul class="todo-list">
    <li *ngFor="let todo of todos" [class.completed]="todo.complete">
      <app-item
        [todo]="todo"
        (toggleComplete)="onToggleCompleteTodo($event)"
        (remove)="onRemoveTodo($event)"></app-item>
    </li>
  </ul>
</section>