<div class="sign-in-wrapper">
  <form [formGroup]="signInForm">

    <input type="text" formControlName="username" placeholder="Your username">
    <div
      class="input-errors"
      *ngIf="(signInForm.value.username.invalid && signInForm.value.username.touched) || showInputErrors"
    >
      <div *ngIf="signInForm.value.username.hasError('required')">
        Please enter your username
      </div>
    </div>

    <input type="password" formControlName="password" placeholder="Your password">

    <div
      class="input-errors"
      *ngIf="(signInForm.get('password').invalid && signInForm.get('password').touched) || showInputErrors"
    >
      <div *ngIf="signInForm.get('password').hasError('required')">
        Please enter your password
      </div>
    </div>

    <div class="sign-in-error" *ngIf="hasFailed">
      Invalid username and password.
    </div>

    <button (click)="onSignIn()" [disabled]="isBusy">
      <ng-template [ngIf]="!isBusy">Sign in</ng-template>
      <ng-template [ngIf]="isBusy">Signing in, please wait...</ng-template>
    </button>

    <!-- Tip -->
    <p class="tip">You can sign in with username "demo" and password "demo".</p>
  </form>
</div>