<section class="todoapp">

  <app-todo-list-header 
    (add)="onAddTodo($event)"></app-todo-list-header>

  <app-todo-list
    (remove)="onRemoveTodo($event)"
    (toggleComplete)="onToggleTodoComplete($event)"
    [todos]="todos"></app-todo-list>

  <app-todo-list-footer
    [todosLeft]="todosLeft"></app-todo-list-footer>

</section>

<button (click)="onSignOut()">Sign out</button>
