<header class="header">
  <h1>To Do</h1>
  <input
    class="new-todo"
    placeholder="What needs to be done?"
    autofocus=""
    [(ngModel)]="newTodo.title"
    (keyup.enter)="addTodo()"
  />
</header>